/* =============== 상단 ============== */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 255px;

    background-color: #163016;
}
.header h1 {
    font-size: 70px;
    font-weight: 900;
    text-align: center;
    color: #dbb9b8;
}

.header_linestyle {
    display: flex;

    padding-top: 20px;
    padding-left: 350px;

    width: 1200px;
    height: 10px;
}
.point_line01 {
    width: 10px;
    height: 10px;

    border-radius: 50%;
    background-color: #dbb9b8;
}
.under_line {
    margin-top: 3.5px;

    width: 1200px;
    height: 3px;
    background-color: #dbb9b8;
}
.point_line02 {
    width: 10px;
    height: 10px;

    border-radius: 50%;
    background-color: #dbb9b8;
}

/* =============== 컨테이너 ============== */
.container{
    width: 100%;
    height: 674px;

    background-color: #f1ebea;
}

/* =============== 텝메뉴 타이틀 ============== */
.tab_title {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 42px;

    background-color: #163016;
    border-bottom: 3px solid #dbb9b8;
}
.tab_title li {
    width: 200px;
    height: 31px;

    padding: 4px 15px;

    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #f1ebea;

    border: 3px solid #dbb9b8;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    background-color: #163016;

    cursor: pointer;
}
.tab_title li.on {
    color: #163016;

    border-bottom: 3px solid #f1ebea;
    background-color: #f1ebea;
}

/* =============== 텝메뉴 콘텐츠 ============== */
.tab_content {
    display: flex;
    justify-content: center;

    margin-top: 50px;
}